<% set_meta_tags title: data.site.name +
  " | " + data.site.description,
  full_title: false %>

<%= inline_svg "logo.svg", class: "middleman-logo" %>
<h1 class="text-grey-darker">
  Middleman is Running
</h1>
<h2 class="text-blue-light text-sm block mb-4">(with Tailwind and Webpack)</h2>

<%= link_to 'Read Documentation', 'https://middlemanapp.com/basics/templating_language/', class: 'text-grey-dark', target: '_blank'%>
<%= link_to 'Testing Second Page', 'second-page', class: 'text-grey-dark' %>