<section class="flex w-full mx-auto flex-col justify-center items-stretch md:-mx-2">
  <h1 class="text-3xl font-sans text-blue-light text-center">Hello from page 2</h1>
  <%= link_to 'Back', 'index', class: 'block w-full no-underline text-lg mt-8 font-bold' %>
</section>
